// IMPORTS
@import "../variables";

// PAGE STYLES
.page-<%= name %> {
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}